<%- include('../partials/header') %>

    <h2>Restaurant List</h2>
    <table id="list">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Hours Open</th>
                <th>Ramen</th>
                <th>Does Deliver</th>

            </tr>
        </thead>
        <tbody>
            <!-- Write the line of EJS to iterate over shops using forEach -->
            <% shops.forEach(function(s) { %>
                <tr>
                <td>
                    <form action="/shops/<%= s.id %>?_method=DELETE" method="POST" class="delete-form">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="/shops/<%= s._id %>/edit">Edit</a>
                </td>
                <td>
                    <%= s.restaurant %>
                </td>
                <td>
                    <%= s.hoursOpen %>
                </td>
                <td>
                    <%= s.ramen.join(', ') %>
                </td>
                <td>
                    <%= s.delivers ? 'Yes' : 'Nope' %>
                </td>
                <td>
                    <a href="/shops/<%= s._id %>">VIEW</a>
                </td>
            </tr>
            <% }) %>
            <!-- Close the forEach using EJS here -->
        </tbody>
    </table>

    <%- include('../partials/footer') %>